/changes
/cache
/upload
/*_updated.php
/config.php
/upload/photos/2018
/upload/photos/2017
/upload/videos/
/upload/sounds/
/upload/photos/
/nodejs/models/wo_langs.js

# Test files with secrets - prevent committing test files that may contain credentials
**/test*.php
/assets/libraries/twilio/vendor/twilio/sdk/test*.php
/db_data/*
/docker/db_data/*
/docker/db_data/

/themes/